
body{
  text-align: center;
}


/* Navigation Bar */

.navbar{
  background-color: #132226;
}

.nav-link{
  padding-right: 70%;
  margin-right: 18px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #fff;
}

.nav-link:hover{
  color: #BE9063;
}
