
body{
  text-align: center;
}

.container-fluid{
  background-color: #595775;
}


/* Navigation Bar */

.navbar{
  background-color: #132226;
}

.nav-link{
  padding-right: 70%;
  margin-right: 18px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #fff;
}

.nav-link:hover{
  color: #BE9063;
}

/* title headings */


.title_headings{
  color: #fff;
  padding: 200px 250px 300px;
}

.titles{
    font-size: 4rem;
}

/* vision */

#vision{
  padding: 150px 200px 200px;
}
/* initiatives section */
#initiatives{
}
.section{
/* min-height: 100%; */
}
.center-align{
  text-align: center;
}
.shadow-card-btn{
  border-radius: 10px;
}
.shadow-card{
  display:inline-block;
  width:300px;
  height:400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin: 20px;
  border-radius: 5px;
}

.shadow-card-title{
  min-height: 25%;
  font-size:28px;
 /* padding-bottom: 15px; */
  display:block;
}
